@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 150px;
    background-color: black;
}

/*PARRAFOS*/
.cartaNombre {
    color: white;
    font-family: "Roboto", sans-serif;
}

/*SECCIÓN*/
section.carta {
    background-color: #919191;
    padding-bottom: 0px; 
    background-image: url(/img/fondo.jpg);       
}

/*TITULOS*/
.titulos-carta {
    text-align: center;
    font-size: 55px;
    background-color: #D95043;
    color: white;
    border: 1px solid black;
    padding: 30px 0;
    margin-left: 30px;
    margin-right: 30px;
}
/*TITULO MENU*/
.titulo-menu{
    font-size: 60px;
    text-align: center;
    color: white;
    border: 1px solid black;
    background-color: #141414;
    padding: 40px 0 ;
    margin-top: 60px;
    
}
/*ENTRANTES*/
.entrantes-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagenCarta {
    width: 20%;
    border-radius: 70px;
}

/*ENTRANTES PAN CON TOMATE*/
.panConTomate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 8px 38px;
}

.panConTomate:hover {
    transform: scale(1.05);
}

/*ENTRANTES CROQUETAS*/
.croquetas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 19px;
}

.croquetas:hover {
    transform: scale(1.05);
}

/*ENTRANTES FILA 2*/
.entrantes-fila2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Ensalada*/
.ensalada {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    background-color: black;
    padding: 19px 112px;
    box-shadow: 5px 5px 5px white
}

.ensalada:hover {
    transform: scale(1.05);

}

/*TABLA DE QUESOS*/
.tablaQuesos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    padding: 16px 55px;
}

.tablaQuesos:hover {
    transform: scale(1.05);
}

/*PRINCIPALES*/
.principales-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*LUBINA*/
.lubina {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 25px;
    padding: 23px 39px;
}

.lubina:hover {
    transform: scale(1.05);
}

/*ARROZ CALDOSO*/
.arroz {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 18px 14px;
}

.arroz:hover {
    transform: scale(1.05);
}

/*PRINCIPALES FILA 2*/
.principales-fila2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*ENTRECOT*/
.entrecot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 10px 0px;
}

.entrecot:hover {
    transform: scale(1.05);
}

/*PASTA*/
.pasta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 17px 10px;
}

.pasta:hover {
    transform: scale(1.05);
}

/*POSTRES*/
.postres-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*TARTA DE QUESO*/
.tarta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 13px 30px;
}

.tarta:hover {
    transform: scale(1.05);
}

/*BROWNIE*/
.brownie {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 20px 45px;
}

.brownie:hover {
    transform: scale(1.05);
}

/*POSTRES FILA 2 - FRUTA*/
.postres-fila2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    width: 600px;
}
.postres-fila2:hover{
    transform: scale(1.05);
}
/*BEBIDAS*/
.bebidas-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*AGUA, REFRESCOS*/
.refrescos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 15px 85px;
}

.refrescos:hover {
    transform: scale(1.05);
}

/*CERVEZA*/
.cerveza {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 19px 69px;
}

.cerveza:hover {
    transform: scale(1.05);
}

/*BEBIDAS FILA 2*/
.bebidas-fila2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*VINO*/
.vino {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 10px 40px;
}

.vino:hover {
    transform: scale(1.05);
}

/*CAFE*/
.cafe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white ;
    background-color: black;
    margin: 0 30px;
    padding: 20px 82px;
}

.cafe:hover {
    transform: scale(1.05);
}