@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 150px;
    background-color: #54595F;
}
/*PARRAFOS*/
p{
    color: white;
    font-family: "Roboto", sans-serif;
}
/*SECCIÓN*/
section{
    background-color: #919191;
}
/*TITULOS*/
.titulos-carta{
    text-align: center;
    font-size: 40px;
    color: #D95043;
}
/*ENTRANTES*/
.entrantes-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagen-carta {
    width: 15%;
}

.entrantes-fila2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*PRINCIPALES*/
.principales-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.principales-fila2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*POSTRES*/
.postres-fila1 {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.postres-fila2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

/*BEBIDAS*/
.bebidas-fila1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bebidas-fila2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}