body{background-color: black;
font-family: 'roboto', 'arial';
max-width: 920px;
margin: 0 auto;
color: white;}  /*estilo del formulario*/

input[type="text"],
[type="date"],
[type="tel"],
[type="number"],
[type="email"],
[type="time"]{
    border-radius: 10px;
    width: 350px;
    height: 40px;
   
}

textarea{border-radius: 10px;
width: 500px;
height: 100px;}



.caja1 {width: 95%;        /*caja donde esta el formulario*/
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-image: url(img/fondo_formulario.avif);
    background-repeat: no-repeat;
    background-size: cover;}

.caja2{margin: 20px;
color:#7A7A7A}

section{display: flex;
flex-wrap: wrap;}

h2{text-align: center; /*reserva (titulo)*/
color:white;
font-size: 30px;}



button {width: 900vh;  /*boton de enviar formulario*/
height: 50px;
background-color: #D95043;
color: white;
border-radius: 10px;
}

button:hover{color: #ccc;}





