input[type="text"],
[type="date"],
[type="tel"],
[type="number"],
[type="email"],
[type="time"]{
    border-radius: 10px;
    width: 350px;
    height: 40px;
}

textarea{border-radius: 10px;
width: 500px;
height: 100px;}



.caja1 {width: 95%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #2a2e33;}

.caja2{margin: 20px;}

section{display: flex;
flex-wrap: wrap;}

h2{text-align: center;}

.caja2{color:#7A7A7A}

input[type="submit"]{width: 900vh;
height: 50px;
background-color: #D95043;
color: white;
border-radius: 10px;
}






