body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto";
    background-color: black;
    margin: 0;
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #141414;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 100px;
    width: auto;
    flex-shrink: 0;
}

.name {
    display: flex !important;
    flex-direction: column !important;
}

.name h1, .name h2 {
    margin: 0 !important;
    display: block !important;
}

.name h1 {
    font-family: "Poppins";
    color: #D95043;
    font-weight: bolder;
    font-size: 45px;
    max-width: 55%;
}

.name h2 {
    font-family: "Montserrat";
    color: rgb(50, 129, 50);
    font-size: 18px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav ul.menu {
    display: flex;
    gap: 100px;
    margin-right: 170px;
    padding: 0;
    font-size: 26px;
}

.nav ul.languages {
    display: flex;
    gap: 8px;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

a{
    list-style: none;
}

#red {
    color: #D95043;
}

.slider{
    width: 100%;
    position: relative;

}

button{
    background-color: #D95043;
    color: white;
    font-family: "Montserrat";
    font-size: 25px;
    border: none;
    padding: 20px 30px;
}

/* Se comenta afecta a todos los botones de la página.  
button:hover{
    background-color: #96372f;
    color: rgb(185, 185, 185);
    font-family: "Montserrat";
    font-size: 25px;
    border: none;
    padding: 20px 30px;
}
*/

.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part img{
    opacity: 0.5;
    width: 100%;
    height: 50%;
}

.paella{
    max-width: 400px;
    border-radius: 400px;
}

.messages{
    font-size: 80px;
    font-weight: 100;
}

.description{
    font-size: 25px;
    opacity: 0.5;
    text-align: center;
    
}

#examples{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.decoration img{
    border-radius: 200px;
    height: 300px;
    width: 300px;
}

.decoration{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    max-width: 14%;
}

.decoration h3{
    font-size: 35px;
}

.decoration a{
    color: #D95043;
    font-size: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.info{
    max-width: 20%;
}

.info li{
    opacity: 0.5;
    font-weight: 100;
}

#cc{
    display: flex;
    background-color: #141414;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

/* color rojo: #D95043*/